@import '../../styles.scss';
@import '../app.component.scss';
@import '../home/home.component.scss';

.founder-picture {
    max-height: 30px !important;
    max-width: 30px !important;
}

.title {
    // margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
}

.current-image-source {
    width: 100%;
    height: auto;
    max-height: 300px !important;
    display: block;
    object-fit: contain;
    // margin-left: 200px;
    margin-bottom: 10px;
}

.side {
    align-content: center;
    height: 100%;
    width: 50%;
    display: inline-block;
}

.extra-padding {
    padding: 0 100px;
}