<div [ngClass.lt-md]="'left-right-padding'" style="margin-bottom: 40px;" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center stretch" fxLayoutGap.gt-md="60px">
    <div fxFlex.gt-md="15"></div>
    <div fxFlex="70" class="left-side">
        <h2 class="title">Our Brothers & Their Stories</h2>
        <div style="margin-bottom: 20px;" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center stretch">
            <img fxFlex="30" [src]="currentImagePath" class="current-image-source" />
            <app-founder-background fxFlex="70" [founderObject]="currentFounder"></app-founder-background>
        </div>
        <div [ngClass.gt-sm]="'extra-padding'" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">
            <div *ngFor="let founder of founders">
                <app-founder-picture [founderObject]="founder" (onFounderSelected)="handleFounderSelection($event)"></app-founder-picture>
            </div>
        </div>
    </div>
    <div fxFlex.gt-md="15"></div>
</div>