@import '../styles.scss';

mat-toolbar {
    background-color: transparent;
    color: white;
}

.logo {
    width: 55%;
    max-width: 350px;
    height: auto;
    padding: 20px 0;
}

.background {
    text-align: center;
}

.top-portion {
    background-image: url('../assets/logos/background.jpg');
    background-size: auto;
}

.footer-image {
    width: 80px;
    height: 80px;
}