<div class="top-portion">
  <mat-toolbar>
    <a class="remove-styling white-font" href="/">F.O.U Movement</a>
    <span class="spacer"></span>
    <a fxHide.lt-sm mat-button href="/about-us">Our Brothers</a>
    <button fxHide.lt-sm mat-button class="donate-button" (click)="openDialog()">
      <img src="https://donorbox.org/images/red_logo.png" />
      <span style="margin-left: 10px;">Donate</span>
    </button>
    <button fxHide fxShow.lt-sm mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a href="/about-us" class="remove-styling">
        <button mat-menu-item>
          Our Brothers
        </button>
      </a>
      <button mat-button class="donate-button" style="vertical-align: middle;" (click)="openDialog()">
        <img src="https://donorbox.org/images/red_logo.png" />
        <span style="margin-left: 10px;">Donate</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <div class="background">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
      <img class="logo" src="../assets/logos/foublk.PNG" />
      <h2 class="white-font" fxHide.lt-md>
          "We are hard pressed on every side, but not crushed;<br /> 
          perplexed, but not in despair; persecuted, but not abandoned;<br /> 
          struck down, but not destroyed."<br />
          - 2 Corinthians 4:8-9
      </h2>
    </div>
  </div>
</div>
<div class="main-body">
  <router-outlet></router-outlet>
</div>
<footer style="background-color: black; padding: 20px 0;">
  <span class="white-font" style="display: block; text-align: center; margin-bottom: 20px;">@ 2020-2021 Fa'atasiga O' Uso's. All Rights Reserved.</span>
  <div flexLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
    <button mat-button class="donate-button" style="vertical-align: middle;" (click)="openDialog()">
      <img src="https://donorbox.org/images/red_logo.png" />
    </button>
    <a class="remove-styling white-font" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/faatasigao.usos">
      <span class="material-icons-font large-icon">facebook</span>
  </a>
  </div>
</footer>