mat-toolbar {
    background-color: white;
    color: black;
}

.white-font {
    color: white;
}

.black-font {
    color: black;
}

.spacer {
    flex: 1 1 auto;
}

.normal-link {
    font-style: normal;
    text-decoration: none;
}