/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
}

h1 {
    font-size: 5.9vw !important;
}

h2 {
    font-size: 2.5vh !important;
}
h3 {
    font-size: 2.0vh !important;
}
p {
    font-size: 2vmin !important;
    line-height: 150%;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.white-font {
    color: white;
}

.black-font {
    color: black;
}

.spacer {
    flex: 1 1 auto;
}

.remove-styling {
    font-style: normal;
    text-decoration: none;
}

.large-icon {
    font-size: 35px;
    // color: #3b5998;
}

.donate-button {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px 38px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.bold {
    font-style: normal;
    font-weight: 900;
}

.material-icons-font {
    font-family: 'Material Icons';
}