@import '../app.component.scss';
@import '../../styles.scss';

.left-right-padding {
    padding: 0 40px;
}

.right-side {
    background-color: #f2f7fd;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    color: gray;
}

.inner-box {
    vertical-align: middle;
    background-color: #758da3;
    width: 100%;
    color: white;
    padding-bottom: 20px;
}